body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.headers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.big-headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}
.interactive {
  text-decoration: none;
}
.interactive:hover {
  color: #404bbf;
}
.interactive:focus {
  color: #404bbf;
}
.pointer {
  cursor: pointer;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
}
.studio-span {
  color: #2e2f42;
}

.nav-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.address-links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.effective {
  background: #2e2f42;
}
.effective-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
}
.effective-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.header {
  background: #fff;
}
.team {
  background: #f4f4fd;
}
.footer {
  background: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  text-transform: uppercase;
  color: #f4f4fd;
}
